
  .check {
    color: lightgreen;
  }
  .check:hover {
    background-color: lightgreen;
    color: black;
  }
  .cancel {
    color: lightcoral;
  }
  .cancel:hover {
    background-color: lightcoral;
    color: white;
  }
  