<div style="min-height: 30vh;" class="py-5 text-light">
  @if (PBRequests.length>0){
    <table class="table">
      <thead>
        <tr class="table-primary">
          <th scope="col">Reserved for</th>
          <th scope="col">Phone</th>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
          <th scope="col">Bus Type</th>
          <th scope="col">Passengers</th>
          <th scope="col">Travel Date</th>
          <th scope="col">Return</th>
          <th scope="col">Acceptance</th>
        </tr>
      </thead>
      <tbody>
        @for(PBR of PBRequests; track $index){
          @if(PBR.user_id==userData?.id){
        <tr>
          <td>{{ PBR.name }}</td>
          <td>{{ PBR.phone }}</td>
          <td>{{ PBR.originName }}</td>
          <td>{{ PBR.destinationName }}</td>
          <td>{{ PBR.typeName }}</td>
          <td>{{ PBR.passenger_number }}</td>
          <td>{{ PBR.departure_date }}</td>
          <td>@if(PBR.return==1){Yes}@else {No}</td>
          <td class="">
            @if(PBR.status=="Pending"){
              <div
              class="px-2 py-1 rounded-pill bg-secondary-subtle text-dark-emphasis text-center"
              style="font-size: 13px"
            >
            Pending
            </div>
            } @else if (PBR.status=="Accepted") {
            <div
              class="px-2 py-1 rounded-pill bg-success-subtle text-success-emphasis text-center"
              style="font-size: 13px"
            >
              Accepted
            </div>
            } @else if (PBR.status=="Rejected") {
            <div
              class="px-2 py-1 rounded-pill bg-danger-subtle text-danger-emphasis text-center"
              style="font-size: 13px"
            >
              Declined
            </div>
            }
          </td>
        </tr>
        }
      }
      </tbody>
    </table>
  }
  @else {
    <div>
      <h3>At the main time, You have no Private Bus requests</h3>
      <p>
        As soon as you fill a "PrivateBus Service" form and submit it, It will appear
        here.
      </p>
    </div>
  }
</div>
