.destinations{
    background-color: var(--background);
}
.destinations h1{
    color: var(--text);
}
.card-body{
    background-color: var(--background);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
h5{
    color: var(--text);
}
.card{
    box-shadow: 3px 7px 10px rgba(131, 131, 131, 0.2);
    border: none;
    border-radius: 10px;
}