/* li{
    background: #eee;
    width: 40%;
    padding-top: 5px;
    margin: 15px 0;
}
li:nth-of-type(even) {
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin-left: auto;
    border-right: 5px solid blueviolet;
    padding-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
li:nth-of-type(odd){
    border-left: 5px solid blueviolet;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
} */
