<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body> -->
@if(loading) {
<app-loader></app-loader>

} @else {

<div id="root">
  <app-navbar></app-navbar>

  <!-- <div class="page-title">
              <h5>My Account</h5>
              <h3>My Account Details</h3>
            </div> -->
  <!-- <div class="edit">
    <app-edituserdetails></app-edituserdetails>
  </div> -->
  <!-- ////////////////////////////////////////////// -->
  <div class="container">
    <mat-tab-group>
      
      <mat-tab label="Profile">
        <div class="account-container container">
          <div class="AccSideBar row my-5">
            <div class="userimage col-md-2">
              @if (userData?.profile_photo_path) {

              <img
                src="{{
                  'http://127.0.0.1:8000/api/admin/images' +
                    userData.profile_photo_path
                }}"
                alt="user avatar"
                class="avatar rounded"
                height="100"
                width="100"
              />}@else {
              <img
                src="../../assets/images/person.png"
                alt="user avatar"
                class="avatar rounded"
                height="100"
                width="100"
              />}
              <!-- <form [formGroup]="form" (ngSubmit)="addphoto()">
                <label for="pic" class="col-2">Picture</label>
                <input
                  type="file"
                  class="form-control"
                  id="pic"
                  formControlName="pic"
                  (change)="onFileSelectedPic($event)"
                />
                <button type="submit">add photo</button>
              </form> -->
              <p>{{ userData?.username }}</p>
            </div>
            <div class="user-data col-md-10">
              <!-- <p class="label">Full Name:</p> -->
              <div class="box">
                <div class="email">
                  <p class="label">Email:</p>
                  <p>{{ userData?.email }}</p>
                </div>
                <div class="phone">
                  <p class="label">Phone Number:</p>
                  <p>{{ userData?.phone }}</p>
                </div>
              </div>
              <div class="box">
                <div class="city">
                  <p class="label">City:</p>
                  <p>{{ userData?.city }}</p>
                </div>
                <div class="gender">
                  <p class="label">gender:</p>
                  <p>{{ userData?.gender }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="edit">
            <button
  type="button"
  class="btn editbtn"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  <i class="fa-regular fa-pen-to-square"></i>
</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Future Trips">
        <app-nexttrips></app-nexttrips>
      </mat-tab>
      <mat-tab label="Previous Trips">
        <app-previoustrips></app-previoustrips>
      </mat-tab>
      <mat-tab label="Private Bus">
        <app-profile-private-bus></app-profile-private-bus>
        <!-- <app-orders></app-orders> -->
      </mat-tab>
    </mat-tab-group>
  </div>
  <!-- .................................................... -->
  <!-- <nav class="navbar navbar-expand-lg">
    <div class="container-fluid py-auto">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/profile']"
              routerLinkActive="text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              >My Account Information</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['previoustrips']"
              routerLinkActive="text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              >Old Trips</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['nexttrips']"
              routerLinkActive="text-white"
              [routerLinkActiveOptions]="{ exact: true }"
              >Next Trips</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Log Out</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav> -->

  <app-footer></app-footer>
</div>
}
<app-edituserdetails></app-edituserdetails>