<div class="root">
  <div class="cont">
    <form (ngSubmit)="sendCode()" method="post">
      <div class="form-content">
        <h1>Enter your email</h1>

        <div class="form-floating mb-3">
          <input
            type="email"
            [(ngModel)]="emailToResetPass.email"
            placeholder="Type your email"
            name="email"
            class="form-control"
            placeholder="email"
          />
          <label for="email">email</label>
        </div>

        <!-- Sign In Button -->
        <button class="py-2 bh-btn rounded-pill signup" type="submit">
          Send Code
        </button>
      </div>
    </form>
  </div>
</div>
