
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

#spinnerInAdmin
{
    width:100vw;
    height:100vh;
    background-color: var(--background);
    margin: auto;


}
body {
  background:var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;

}

.form-control:focus {
  border-color:var(--secondary);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px transparent;
}

.form-content{
  width: 100%;
  overflow-y: auto;
}

input {

  background-color: #e6e8ef;
  border: none;
/* width: 100px; */


  outline: none;
  border-radius: 10px;
}

input:focus{
  border: none;
  border-bottom: 2px solid rgb(21, 21, 170)  ;
  outline: none;
  background-color: white;
}
.form-control{


  margin:10 auto;
width: 100%;
}
 .sign-up-container{
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
 }
.form-content div{
  margin: 0 auto;
  padding-top: 0;
  text-align: center;
  width: 90%;

}
.form-content div input,select{
  height: 43px;
}
.form-content{
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: 730px) {
  .form-content .form-floating{
    width: 100%;
  }
  .form-content{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .form-content div{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;

  }
  .form-content div input,select{
    height: 50px;
width: 100%;
    }
}


h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;

}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

/*
button {
  border-radius: 20px;
  border: 1px solid  linear-gradient(162deg, rgba(33,37,41,1) 0%, rgba(66,70,73,1) 100%);
  background: linear-gradient(162deg, rgb(11, 24, 36) 50%, rgb(19, 49, 72) 100%);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
button.ghost {
  margin: 0;
  background-color: transparent;
  border-color: #ffffff;
  background:  linear-gradient(162deg, rgb(196, 199, 202) 0%, rgba(243, 246, 249) 100%);
  color: rgb(38, 37, 37);
}
*/
.signin{
  margin-top: 25px;
  border: 1px solid var(--accent);
}
.signin:hover{
  margin-top: 25px;
  border: 1px solid var(--primary);
}
.signup{
  border: var(--accent);
  background-color: var(--text);
}
.signup:disabled{
  cursor:not-allowed !important;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

form {
  background-color:#f4f6fb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  width: 100%;
}

.form-content .error{
  margin-top: -15px;

  margin-bottom: 5px;
}

input,select {

  background-color: #e6e8ef;
  border: none;
/* width: 100px; */


  outline: none;
  border-radius: 10px;
}

input:focus{
  border: none;
  border-bottom: 2px solid rgb(21, 21, 170)  ;
  outline: none;
  background-color: white;
}


.container {
  /* background-color: #fff; */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(88, 90, 90, 0.15), 0 10px 10px rgba(62, 70, 70, 0.15);
  position: relative;
  overflow: hidden;
  width: 70%;
  max-width: 100%;
  margin: auto;
  height: 85%;
}
@media screen and (max-width: 975px) {
  .container{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
.alternativeBtn{
  display: none;
}
@media screen and (max-width: 650px) {
  .alternativeBtn{
    display: block;
  }
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;

}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;

}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;

}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;

}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;


}
@media screen and (max-width: 565px) {
  .overlay-container{
    display: none;
  }
  .sign-in-container{
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sign-up-container{
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container.right-panel-active .sign-up-container{
  transform: translateX(0%);
  }
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  /* background: linear-gradient(110deg, rgb(3, 12, 26) 70%, rgb(15, 28, 46) 100%); */
  background: linear-gradient(#0587eb, #2203b0);;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  color: rgb(245, 245, 246) ;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: -54px;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;

}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

form-floating{

  height: 10px;
}

form-control{
height: 10px;
}



::-webkit-scrollbar {
  border: none;
  /* width: 20px; */
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
  /* border:none; */
  /* box-shadow: inset 0 0 5px grey;  */
  /* border-radius: 500px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none;
      /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none
}
