<div class="root">
  <div class="cont">
    <form (ngSubmit)="resetPass()" method="post">
      <div class="form-content">
        <h1>enter new password</h1>

        <!-- Email -->

        <div class="form-floating mb-3">
          <input
            type="text"
            [(ngModel)]="dataToResetPass.password"
            placeholder="Type your New password"
            name="password"
            id="password"
            class="form-control"
            placeholder="password"
          />
          <label for="password">New Password</label>
        </div>
        <!-- Password -->

        <!-- Sign In Button -->
        <button class="py-2 bh-btn rounded-pill signup" type="submit">
          Reset Password
        </button>
      </div>
    </form>
  </div>
</div>
