@if(trips&&formData&&destination){


<!-- navbar -->
<app-navbar></app-navbar>
<!-- container -->

<div class="bg-1">


    <!-- trips header -->
    <div class="search-component container ">
        <div class="row text-center py-2">
            <!-- Departure From -->
            <div class="col-lg-4">
                <div class="fw-bolder"><i class="bi bi-geo-alt-fill"></i> Departure From</div>
                <div class=" fw-medium text-capitalize bg-dark mt-2 py-1 border_edit">{{urlfrom.name}}</div>

            </div>
            <!-- Destination -->
            <div class="col-lg-4">
                <div class="fw-bolder"><i class="bi bi-geo-alt-fill"></i> Destination</div>
                <div class=" fw-medium text-capitalize bg-dark mt-2 py-1 border_edit ">{{ urlto.name}}</div>
            </div>
            <!-- Date -->
            <div class="col-lg-4">
                <div class="fw-bolder"><i class="bi bi-calendar3"></i> Date</div>
                <div class="fw-medium bg-dark mt-2 py-1 border_edit">{{ formData.travelDate| customDate}}</div>

            </div>

        </div>
    </div>

    <!-- trips list -->
    <div class="search-component container mt-4  ">
        @if (trips.length == 0) {

        <div class="no_result_img"><img src="../../../assets/img/Search-rafiki.svg" alt=""></div>
        <div class="no_result_t1 pb-2">Ups!... no results found</div>
        <div class="no_result_t2 pb-2"> Please try another search</div>
        <div class="no_result_t2 pb-2">Order <a routerLink="/privatebus">Private bus </a></div>
        <div class="no_result_t2 pb-2">Go to <a routerLink="/">BUSHUB's home page </a></div>
        <!-- <div> <app-search></app-search></div> -->
        }@else {
        @for (trip of trips; track $index) {
        <!-- from and to container-->
        <div class="row tripsContainer ">
            <!-- from  container-->
            <div class="col-lg-4 text-capitalize fw-bolder dark_blue grid_from">
                Departure from {{trip.from_location}}
            </div>
            <!-- bus img-->
            <div class="col-lg-4 text-center text-secondary  hide">
                <i class="bi bi-bus-front-fill fs-4 ml-5"></i>
            </div>
            <!-- to container-->
            <div class="col-lg-3 text-capitalize dark_blue fw-bolder grid_to">
                Arrive to {{trip.to_location}}
            </div>

            <!-- time -->
            <div class=" col-lg-2 fs-4  dark_blue grid_time">
                <i class="bi bi-stopwatch"></i> {{ trip.time |timeFormat }}
            </div>
            <!--type -->
            <div class="col-lg-2 iconshape1 pt-1 grid_type">
                <div class="py-1 iconshape2 " [ngClass]="{
                'bg-info': trip.type_id == '1',
                'bg-danger': trip.type_id == '2',
                'bg-primary': trip.type_id == '3',
                'bg-secondary': trip.type_id == '4',
                'bg-warning': trip.type_id == '5'}">
                    {{trip.type}}
                </div>
            </div>
            <!-- line img -->
            <div class="col-lg-4 text-center hide">
                <img class="figure-img img-fluid rounded" src="assets/line.PNG" alt="">
            </div>
            <!-- book now -->
            <div class="col-lg-2 grid_booknow">
                <!-- <a  class="col-lg-2" (click)="redirectToTrips(trip.id)">
                <div class="btn  fw-bolder width_booknow btnhover">Book Now</div>
            </a> -->
                <a class="col-lg-2" (click)="booknow(trip)">
                    <div class="btn  fw-bolder width_booknow btnhover">Book Now</div>
                </a>
            </div>
            <!-- price -->
            <div class="col-lg-2  fs-4 grid_price">
                {{trip.price}} LE/<i class="bi bi-person-fill"></i>
            </div>
            <!-- option -->
            <div [innerHTML]="trip.options" class="text-secondary fs-4 hide"></div>
        </div>



        <hr class="hredit">
        }
        }
    </div>
    <!-- end of trips -->

</div>
<!-- end of container -->
<!-- footer -->
<app-footer></app-footer>
}@else {

<!-- <div class="m-auto spinner_edit">
    <mat-spinner></mat-spinner>
</div> -->
<app-loader></app-loader>
}
