.privatebusForm {
  background: var(--background);
  position: relative;
  z-index: 1;
}
.form-control,
select {
  /* background-color: var(--dark);
  color: var(--text); */
  border: none;
}
.firstblur {
  position: absolute;
  width: 50%;
  height: 50%;
  min-width: 250px;
  top: 90px;
  left: 30vw;
  transform: rotate(-10deg);
  border: 764px;
  background: rgb(7 89 211 / 70%);
  opacity: 0.3;
  z-index: -3;
  filter: blur(50px);
}
.alert-success {
  background: rgba(0, 61, 0, 0.3);
  border: darkgreen;
  color: rgb(109, 235, 109);
  transition: .5s ease;
}
button:disabled{
  cursor:not-allowed !important;
  background: var(--accent);
  color: var(--text);
}