<app-navbar></app-navbar>
<div class="privatebusForm">
  <div class="container py-4">
    <div class="text-center">
      <h2 style="color: var(--text);">Private Bus Booking Request Form</h2>
      <p class="text-white-50">
        Please fill out the form below to request to book a full bus for your
        journey
      </p>
    </div>
    @if(alertmessage){
      <div class="alert alert-success mx-3" role="alert">
        {{alertmessage}}
      </div>
      }
    <div class="">
      <form (submit)="submitPrivateBusForm()">
        <div class="row g-2 m-3">
          <div class="col-md">
            <div class="form-floating">
              <input
                type="name"
                [(ngModel)]="formData.name"
                name="name"
                class="form-control"
                id="floatingInputGrid"
                placeholder="Ex: Momen Helmy"
                required
              />
              <label for="floatingInputGrid">Name</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <input
                type="tel"
                [(ngModel)]="formData.phone"
                name="phone"
                class="form-control"
                id="floatingInputGrid"
                placeholder="01234567891"
                required
              />
              <label for="floatingInputGrid">Phone Number</label>
            </div>
          </div>
        </div>
        <div class="row g-2 m-3">
          <div class="col-md">
            <div class="form-floating">
              <select
                name="from"
                [(ngModel)]="formData.from"
                class="form-select"
                id="floatingSelectGrid"
                required
              >
                <option selected disabled>Select an Origin</option>
                @for(destination of destinations; track $index){
                <option value="{{ destination.id }}">
                  {{ destination.name }}
                </option>
                }
              </select>
              <label for="floatingInputGrid">Origin</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <select
                name="to"
                [(ngModel)]="formData.to"
                class="form-select"
                id="floatingSelectGrid"
                required
              >
                <option selected disabled>Select a Destination</option>
                @for(destination of destinations; track $index){
                <option value="{{ destination.id }}">
                  {{ destination.name }}
                </option>
                }
              </select>
              <label for="floatingSelectGrid">Destinaiton</label>
            </div>
          </div>
        </div>
        <div class="row g-2 m-3">
          <div class="col-md">
            <div class="form-floating">
              <select
                name="bus_type_id"
                [(ngModel)]="formData.bus_type_id"
                class="form-select"
                id="floatingSelectGrid"
                required
              >
                <option selected disabled>Select an BusType</option>
                @for(type of busTypes; track $index){
                <option value="{{ type.id }}">{{ type.type }}</option>
                }
              </select>
              <label for="floatingInputGrid">Bus Type</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <input
                type="number"
                [(ngModel)]="formData.passenger_number"
                name="passenger_number"
                class="form-control"
                id="floatingInputGrid"
                placeholder="How many passengers"
                required
              />
              <label for="floatingSelectGrid">Passengers</label>
            </div>
          </div>
        </div>
        <div class="row g-2 m-3">
          <div class="col-md">
            <div class="form-floating">
              <input
                type="date"
                [(ngModel)]="formData.departure_date"
                name="departure_date"
                class="form-control"
                id="floatingInputGrid"
                required
              />
              <label for="floatingInputGrid">Date</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <select
                name="return"
                [(ngModel)]="formData.return"
                class="form-select"
                id="floatingSelectGrid"
                required
              >
                <option selected disabled>Will u return?</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <label for="floatingInputGrid">Return</label>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="py-1 bh-btn-primary w-25 rounded-pill px-4">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="firstblur"></div>
</div>
<app-footer></app-footer>
