<!-- Button trigger modal -->


<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
 
>
  <div class="modal-dialog" >
    <div class="modal-content" >
      <div class="modal-header">
        <h1 class="modal-title text-primary fs-5" id="exampleModalLabel">
          Edit Details
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!-- <form [formGroup]="form" (ngSubmit)="addphoto()">
        <label for="pic" class="col-2">Picture</label>
        <input
          type="file"
          name="pic"
          [(ngModel)]="userDetails.pic"
          class="form-control"
          id="pic"
          (change)="onFileSelectedPic($event)"
        />
        <button type="submit">add photo</button>
      </form> -->

      <form [formGroup]="editForm" (ngSubmit)="edit()">
        <div class="modal-body">
          <div class="edit-account">
            <h3>Edit Detail</h3>

            <div class="form-floating mb-3">
              <input
                type="text"
                id="username"
                formControlName="username"
                class="form-control"
                placeholder="Name"
              />
              <label for="username">Name</label>
            </div>

            <div class="form-floating mb-3">
              <select
                name="gender"
                formControlName="gender"
                placeholder="Gender"
                class="form-control"
                id="floatingSelectGrid"
                required
              >
                @if(userDetails?.gender=="Male"){
                <option value="male" selected>Male</option>
                <option value="female">Female</option>
                } @if(userDetails?.gender=="Female"){
                <option value="male">Male</option>

                <option value="female" selected>Female</option>
                }
              </select>

              <label for="gender">Gender</label>
            </div>

            <div class="form-floating mb-3">
              <input
                type="text"
                name="phone"
                id="phone"
                class="form-control"
                formControlName="phone"
                placeholder="Phone"
              />
              <label for="phone">Phone</label>
            </div>

            <div class="form-floating mb-3">
              <input
                name="email"
                type="email"
                formControlName="email"
                placeholder="Email"
                id="email"
                class="form-control"
              />
              <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                formControlName="city"
                name="city"
                placeholder="city"
                id="city"
                class="form-control"
              />
              <label for="city">City</label>
            </div>
            <div>
              <label for="pic" class="col-2">Picture</label>
              <input
                type="file"
                class="form-control"
                formControlName="pic"
                name="pic"
                id="pic"
                (change)="onFileSelectedPic($event)"
              />
            </div>

            <!-- <div class="input-field">
                <span>Edit</span>
            </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" (submit)="edit()" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
