.big_container {
  background-color: gray;
  width: 70%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.header1_container,
.header2_container {
  height: 60px;
  background-color: var(--background);
  font-size: 40px;
}
.header1_container {
  border-top-left-radius: 50px;
  padding-left: 40px;
}
.header2_container{
  padding-left: 20px;
  margin-left: 0%;

}
.right-container{
    border-bottom-right-radius: 50px;
    border-left-style: dashed;
    border-left-color: white;

  }
.header2_container ,.right-container{

  border-left-style: dashed;
  border-left-color: white;
}
.BUS-text {
  color: var(--text);
}
.HUB-text {
  color: var(--primary);
}
.serial {
  color: var(--text);
  border-style: solid;
  border-color: aliceblue;
  font-weight: 200;
  margin-left: 120px;
  padding-left: 10px;
  padding-right: 10px;
  /* padding-bottom: 2px; */
  font-size: 20px;
}
.left-container ,.right-container{
    background: var(--primary);
}

/* ============================================ */
/* .big_container { */
/* display: grid; */
/* grid-template-areas: 
    "header1 header1 header2" 
    "info info ." */
/* grid-template-areas: 
    "left left right"
    "passenger info ." 
 } */
.left-container {
  display: grid;
  grid-template-areas:
    "passenger passenger info "
    "hr1 hr1 hr1"
    "from1 from1 seat1 "
    "hr2 hr2 hr2 "
    " l-date l-departure l-price"
    
    ;
}
.left {
  /* display: grid;  */
  /* grid-template-areas:"passenger info " ; */
  padding: 0%;
  grid-area: left;
}
.right {
  padding: 0%;
  grid-area: right;
}

.header1_container {
  grid-area: header1;
}
.header2_container {
  grid-area: header2;
}
.info {
  grid-area: info;
}
.passenger {
  grid-area: passenger;
}
.from-to {
  grid-area: from1;
}
.seat-side {
  grid-area: seat1;
}
.hr1{
    grid-area: hr1;
}
.hr2{
    grid-area: hr2;
}
.l-date{
    grid-area: l-date;
}
.l-departure{
grid-area:l-departure ;
}

.l-price{
grid-area: l-price;
}


/* ============================================== */
@media only screen and (max-width: 900px) {
  .big_container {
    width: 95%;
  }
}
