<div
  class="container my-4 p-3 rounded-3"
  style="background-color: var(--dark)"
>
  <span
    class="text-light text-opacity-75 fw-light mb-5"
    style="cursor: pointer"
    (click)="navigate()"
  >
    <i class="fa-solid fa-arrow-left"></i>
  </span>
  <h3>{{contactUsData?.title}}</h3>
  <!-- <hr> -->
  <div>
    <div class="userDetailes d-flex justify-content-between px-3 my-3">
      <div class="d-flex flex-column">
        <small class="text-light text-opacity-75 fw-light">{{
          contactUsData?.username
        }}</small>
        <small class="text-light text-opacity-75 fw-light">{{
          contactUsData?.email
        }}</small>
      </div>
      <div class="d-flex flex-column">
        <small class="text-light text-opacity-75 fw-light"
          >#{{ contactUsData?.id_user }}</small
        >
        <small class="text-light text-opacity-75 fw-light">{{contactUsData?.created_at.substring(0, 10)}}</small>
      </div>
    </div>
    <div class="w-75 m-auto my-3">
      <hr class="my-4" />
      <p class="text-center">{{ contactUsData?.message }}</p>
      <!-- <hr> -->
    </div>
    <div class="d-flex justify-content-center">
      <a href="mailto:{{contactUsData?.email}}" target="_blank" class="btn btn-primary px-2 py-1 w-25 text-center rounded-pill">Reply</a>
    </div>
    
  </div>
</div>
