<div class="search">
  <form (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col field">
        <div class="form-floating">
          <select class="form-select" id="floatingSelectGrid" name="origin" [(ngModel)]="formData.origin" required>
            @for(destination of destinations; track $index){
            <option value="{{ destination.id }}">
              {{ destination.name }}
            </option>
            }
          </select>
          <label for="floatingSelectGrid">Departure</label>
        </div>
      </div>
      <div class="col field">
        <div class="form-floating">
          <select class="form-select" id="floatingSelectGrid" name="destination" [(ngModel)]="formData.destination" required>
            @for(destination of destinations; track $index){
            <option value="{{ destination.id }}">
              {{ destination.name }}
            </option>
            }
          </select>
          <label for="floatingSelectGrid">Destination</label>
        </div>
      </div>
      <div class="col field">
        <div class="form-floating">
          <input class="form-control" type="date" name="travelDate" [(ngModel)]="formData.travelDate" required/>
          <label for="floatingSelectGrid">Departure Date</label>
        </div>
      </div>
      <div class="col field">
        <div class="form-floating">
          <input class="form-control" type="number" max="50" min="1" name="passengers" [(ngModel)]="formData.passengers" required/>
          <label for="floatingSelectGrid">Passengers</label>
        </div>
      </div>
    </div>
    <div class="search-btn-div">
      <button
        type="submit"
        class="py-1 bh-btn-primary rounded-pill px-4 mt-2 w-50"
      >
        Search
      </button>
    </div>
  </form>
</div>