table {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-collapse: collapse;
}

td,
th {
  /* padding: 15px; */
  border: none;
  border-bottom: 1px solid var(--text);
  background-color: var(--dark);
}

tr:nth-child(even) {
  background-color: var(--text);
}

tr:hover {
  background-color: var(--text);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--dark);
  color: white;
  font-size: 16px;
  text-transform: uppercase;
}

.opt-btn {
  border: none;
  outline: none;
  transition: 0.3s;
  border-radius: 5px;
  background: transparent;
}
.check {
  color: lightgreen;
}
.check:hover {
  background-color: lightgreen;
  color: black;
}
.cancel {
  color: lightcoral;
}
.cancel:hover {
  background-color: lightcoral;
  color: white;
}
