/* {
  box-sizing: border-box;
  }

  .AccPage .account-container {
    display: flex;
    /* font-size: 0;
    gap: 50px;
    margin:50px 10% ;
  }

  .AccPage .account-container .AccSideBar {
    position: static;
    flex:.3;
    height: fit-content;
    top: 108px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #dbdde0;
    box-shadow: 0 1px 6px 0 rgba(184, 184, 184, 0.3);
    border-radius: 4px;
  }


  .AccPage .account-container .AccSideBar .user-data p {
    color: #101010;
    font-size: 15px;
    font-weight: 600;
    overflow-wrap: break-word;
    margin: 0;
    padding-bottom: 20px;
  }


  .AccPage .account-container .AccSideBar .user-data {
    padding: 18px 15px 22px;
    border-bottom: 1px solid #e5ebf1;
    margin-bottom: 20px;
  }
   .account-container .AccSideBar .user-data .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 12px;
  }
  .AccPage .account-container .AccSideBar .user-data .label {
    color: #212121;
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 0;
  }

    .AccPage .account-container .AccSideBar .profile-navigation-component {
      padding-bottom: 20px;
      max-height: 0;
      position: static;
      border: none;
      box-shadow: none;
      border-radius: 0;
      max-height: none !important;
  }

  .account-container .AccSideBar .profile-navigation-component li a.active, .AccPage .account-container .AccSideBar .profile-navigation-component li a:hover {
    color: #FC9900;
    border-right-color: #FC9900;
  }



  .AccPage .account-container .account-content {
    position: static;
    flex:1;
    top: 108px;
    background: #ffffff;
    border: 1px solid #dbdde0;
    box-shadow: 0 1px 6px 0 rgba(184, 184, 184, 0.3);
    border-radius: 4px;
    padding: 18px 44px 42px;
  }

  .AccPage .account-container .edit-account h3 {
    color: #101010;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 14px;
  }

  .AccPage .account-container .edit-account .input-field label {
    position: relative;
    color: #212121;
    font-size: 12px;
    line-height: 23px;
    margin-bottom: 2px;
    display: block;
    width: 100%;
  }


  .AccPage .account-container .edit-account .input-field input {
    border: none;
     border-bottom: 1px solid #c1c9d2;
    border-radius: 4px;
    height: 44px;
    width: 100%;
    padding: 0 20px;
    font-size: 14px;
    outline:none
  }
  .AccPage .account-container .edit-account .input-field input:focus {
    border-bottom: 2px solid black;
    outline:none;
    border-radius: 4px;

  }

   .account-container .edit-account .input-field .btn {
    display: block;
    justify-content: center;
    padding: 5px;
    width: 194px;
    max-width: 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    min-height: 50px;
    background-color: #FC9900;

    border: none;
    border-radius: 10px;
    margin: 30px auto 0;

  }

  button {
    cursor: pointer;
  }

  a{
    text-decoration: none;
    color: #101010;
  }

   */
   .mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #000D14;  /*underline1*/
    --mat-tab-header-disabled-ripple-color: rgb(0, 255, 42);   /*notwork*/
    --mat-tab-header-pagination-icon-color: rgb(192, 241, 255);  /*notwork*/
    --mat-tab-header-inactive-label-text-color:rgb(242, 235, 235);  /*text*/
    --mat-tab-header-active-label-text-color:#0d6efd;  /*text*/
    --mat-tab-header-active-ripple-color: #000D14;  /*selected shade*/
    --mat-tab-header-inactive-ripple-color: #000D14;  /*shade when hover*/
    --mat-tab-header-inactive-focus-label-text-color: rgb(242, 235, 235);  /*text long press*/
    --mat-tab-header-inactive-hover-label-text-color: #0d6efd;  /*text when hover*/
    --mat-tab-header-active-focus-label-text-color: #0d6efd;  /*text*/
    --mat-tab-header-active-hover-label-text-color: rgb(129, 126, 126);  /*text*/
    --mat-tab-header-active-focus-indicator-color: #000D14(97, 116, 164);  /*log press under line*/
    --mat-tab-header-active-hover-indicator-color: black;  /*text log press*/
  }

  .container-width{
    width: 101%;
  }

  #spinnerInAdmin
{
    width:1vw;
    height:5vh;
    margin: auto;


}
