.navbar {
    background: var(--background);
  }
  .navbar-brand {
    color: var(--text);
  }
  .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }
  .colorBox{
    width: 20px;
    height: 20px;
    background-color: var(--primary);
    border-radius: 5px;
  }
  .navbar-toggler{
    border: var(--bs-border-width) solid var(--text);
    opacity:.7;
  }
  .navbar-toggler-icon {
    background-image: none!important;
    background-color: var(--text);
    opacity:.7;
    height: 3px;
    width: 25px;
    margin: 10px 0;
    position: relative;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }
  
  .navbar-toggler-icon::before {
    display: block;
    background-color: var(--text);
    opacity:.7;
    height: 3px;
    content: "";
    position: relative;
    top: -7px;
    transition: all 0.15s ease-out;/*taken down to hide quicker*/
    transform-origin: center;
  }
  
  .navbar-toggler-icon::after {
    display: block;
    background-color: var(--text);
    opacity:.7;
    height: 3px;
    content: "";
    position: relative;
    top: 4px;
    transition: all 0.35s ease-out;
    transform-origin: center;
  }
  
  .navbar-dark .navbar-toggler-icon,
  .navbar-dark .navbar-toggler-icon::before,
  .navbar-dark .navbar-toggler-icon::after {
    background-color: var(--text);
    opacity:.7;
  }
  
  .dropdown-menu{
    background-color: rgb(25 55 100 / 90%);
    /* left: -150px; */
    opacity: 1;
  }
  @media screen and (max-width: 992px) {
    .dropdown-menu{
      left: 0;
    }
  }

  .dropdown-item{
    color: var(--text);
    transition: .3s;
  }
  .dropdown-item:hover{
    color: var(--dark);
  }
  .notificationBtn {
    display: inline;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    padding-top: 2px;
  }