<nav class="navbar navbar-expand-lg">
  <div class="container-fluid py-auto">
    <a class="navbar-brand fw-bold fs-3" routerLink="/"
      >Bus<span style="color: var(--primary)">Hub.</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/buses-types"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >Buses</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/destinations"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >Destinations</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/privatebus"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >PrivateBus</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contactus"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >Contact Us</a
          >
        </li>
      </ul>
      @if (token) {
      <div class="d-flex gap-1 align-items-center">
        <div class="dropdown">
          <button
            class="bg-transparent border-0 dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            (click)="markAllNotificationsAsRead(userData.id)"
          >
            <i class="fa-solid fa-bell text-light">
              @if (notifications?.length>0 && !notifiationsOpened) {
              <small
                class="position-absolute translate-middle bg-danger notificationBtn"
              >
                {{ notifications?.length > 10 ? "10+" : notifications?.length }}
              </small>
              }
            </i>
          </button>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <li>
              <div
                class="dropdown-item py-3 rounded-top d-flex justify-content-between align-items-center"
                style="background-color: var(--primary)"
              >
                <span style="background: transparent">
                  <span style="background: transparent" class="fw-bold">{{
                    userData?.username
                  }}</span
                  ><br />
                  <small style="background: transparent" class="text-white-50"
                    >{{ notifications?.length }} unread notificationsspan</small
                  >
                </span>
              </div>
            </li>
            @if(notifications?.length){ @for (notification of notifications;
            track $index) {
            <li>
              <div class="dropdown-item">
                {{ getNotificationTitle(notification?.data) }}
                <br />
                <span
                  class="text-white-50"
                  style="background-color: transparent"
                  >{{ notification.created_at.substring(0, 10) }}
                  {{ notification.created_at.substring(11, 18) }}</span
                >
              </div>
            </li>
            } } @else {
            <p style="padding: 5px 15px; color: rgba(255, 255, 255, 0.5)">
              There is no new notifications
            </p>
            }
          </ul>
        </div>
        <div class="dropdown">
          <img
            [src]="
              userData?.profile_photo_path
                ? 'http://127.0.0.1:8000/api/admin/images' +
                  userData.profile_photo_path
                : '../../assets/images/person.png'
            "
            alt="user avatar"
            style="width: 35px"
            class="rounded-circle dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          />
          <ul class="dropdown-menu dropdown-menu-lg-end">
            @if (userData?.role=="admin") {
            <li>
              <a class="dropdown-item" routerLink="/admin">Admin Dashboard</a>
            </li>
            }@else {
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            }
            <li>
              <button class="dropdown-item text-danger" (click)="logout()">
                Logout <i class="fa-solid fa-circle-right ms-2"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
      }@else {
      <button routerLink="/signin" class="py-1 bh-btn rounded-pill px-4">
        Join
      </button>
      }
    </div>
  </div>
</nav>
