<nav class="navbar navbar-expand-lg">
  <div class="container-fluid py-auto">
    <a class="navbar-brand fw-bold fs-3" routerLink="/">Bus<span style="color: var(--primary);">Hub.</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/buses-types"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >Buses</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/destinations"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >Destinations</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/privatebus"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >PrivateBus</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="text-white"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
      </ul>
      @if (token) {
      <div class="d-flex gap-4 align-items-center">
        <i class="fa-solid fa-bell text-light"></i>
        <a
          routerLink="/profile"
          class="text-decoration-none text-light text-uppercase"
          >{{ userData?.username }}</a
        >
      </div>
      }@else {
      <button routerLink="/signin" class="py-1 bh-btn rounded-pill px-4">
        Join
      </button>
      }
    </div>
  </div>
</nav>
