

.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
    font-weight: 700;
    color: var(--text);
    border-bottom-color: currentcolor;
}
@media only screen and (max-width: 900px) {
    #carouselExampleAutoplaying
    {
        display: none;
    }
    #busesDiv
    {
        width:100% !important;
    }
  }
  .iconshape2 {
    border-radius: 10px 0 10px 0;
  }
  .iconshape1 {
    text-align: center;
    font-weight: 700;
    color: white;
  }
  .modal
  {
color:var(--background)    
  }

  nav button{
    color:var(--text);
  }
  form button,#btnToAdd{
    transition: 0.5s;
    opacity: 0.8;
    background-color: var(--primary);
  }
  form button:hover,#btnToAdd:hover{
    opacity: 1.0;
    /* background-color: var(--primary); */
  }

 