<div class="container " style="height: 80vh">
  <button class="btn btn-primary my-4">Add New Bus</button>
  <!-- <h2 > Number of Buses {{countBuses}}</h2> -->
  @for (bus of buses; track $index) {
  <div class="card mb-4" style="width: 100%; ">
    <div class="row g-0">
      <div class="col-md-2 text-center my-2 mx-2">
        <img
          src="https://cdn-icons-png.flaticon.com/512/64/64283.png"
          class="img-fluid rounded-start"
          alt="..."
          style="width: 150px; height: 150px"
        />
      </div>
      <div class="col-md-8">
        <div class=" card-body d-flex justify-content-between">
          <div class="align-self-start col-lg-2">
            <h5 class="card-title">No.{{ bus.id }}</h5>
            <div class="card-text">
              <p>{{ bus.type }}</p>
              <p>Chairs: {{ bus.chairs }}</p>
            </div>
        </div>
        <div class="vr"></div>
        <div class="card-text d-flex flex-column col-5 justify-content-between">
            <small class="text-body-secondary fs-5">Options:</small>
            
                  
            <small class="text-body-secondary ms-4">{{ bus.options}}</small>

            
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>

<!-- <div class="container"> -->
<!-- <table border="1">
  @for (bus of buses; track $index) {
  <tr>
    <td>{{ bus.id }}</td>
    <td>{{ bus.chairs }}</td>
    <td>{{ bus.type_id }}</td>
    <td>{{ bus.type }}</td>
    <td>
      @for(option of bus.options; track $index) {
      {{ option.id }} {{ option.option }}

      }
    </td>
  </tr>
  }
</table> -->
<!-- </div> -->
