<!-- navbar -->
<app-navbar></app-navbar>
<!--header-->
@if (seats && details) {
<div>
    <div class=" fs-5  details-container text-white text-center">

        <div class="details-container1">
            <div class="badge text-bg1 text-capitalize fw-bold ">{{details?.type}}</div>
            <br>
            <span class="text-capitalize">{{details?.from_location}} </span>
            <i class="bi bi-circle-fill hide" style="margin-right: -6px;"></i>
            <i class="bi bi-dash-lg " style="margin-right: -6px;"></i>
            <i class="bi bi-dash-lg" style="margin-right: -6px;"></i>
            <i class="bi bi-dash-lg hide"></i>
            <i class="bi bi-bus-front hide" style=" font-size:30px ;"></i>
            <i class="bi bi-dash-lg hide" style="margin-right: -6px;"></i>
            <i class="bi bi-dash-lg hide" style="margin-right: -6px;"></i>
            <i class="bi bi-dash-lg hide " style="margin-right: -5px; "></i>
            <i class="bi bi-circle hide"></i>
            <span class="text-capitalize"> {{details?.to_location}}</span>
            <br>
            <div> <span class="badge text-bg1  ">{{details?.price}}</span> LE per person</div>
            <div>{{details?.date | customDate}}, {{details?.time | timeFormat}}</div>
        </div>

    </div>
</div>

<!-- ======================================================================= -->

<!-- ========================================================================= -->
<!-- steps to book trip -->
<div class="container1">

    <mat-stepper orientation="vertical">
        <mat-step class="abc">
            <ng-template matStepLabel>Choose Your Seat</ng-template>
            <ng-template matStepContent>
                <!-- Booked  Available Selected -->
                <div class=" text-center row seats_3">
                    <div class="col-4">
                        <span class="mx-2"><mat-icon svgIcon="seat-icon" class="seat-red size "></mat-icon></span>
                        <span>Booked</span>
                    </div>
                    <div class="col-4">
                        <span class="mx-2"><mat-icon svgIcon="seat-icon" class="seat-gray size"></mat-icon></span>
                        <span>Available</span>
                    </div>
                    <div class="col-4">
                        <span class="mx-2"><mat-icon svgIcon="seat-icon" class="seat-blue size"></mat-icon></span>
                        <span>Selected </span>
                    </div>
                </div>
                <!-- ======================================================================= -->


                @if (typeId=='1' || typeId=='2') {
                <div class="row  seats-1 text-center ">
                    @for(seat of seats ;track $index ){

                    @if(($index+1)% 4== 1 ){
                    <div class="col-2 img_location">

                        <div class="">
                            <a routerLink="/book-trip/{{tripId}}/{{typeId}}"
                                [class.not-clickable]="seat.reserved != '0'" [class.seat-red]="seat.reserved != '0'"
                                (click)="reserve(seat)" id="{{seat.id}}">
                                <mat-icon svgIcon="seat-icon"></mat-icon>
                            </a>
                        </div>
                        <div>
                            {{ seat.seat_num }}
                        </div>
                    </div>
                    }
                    @if(($index+1)% 4== 2 ){
                    <div class="col-2 img_location">
                        <a routerLink="/book-trip/{{tripId}}/{{typeId}}" [class.not-clickable]="seat.reserved != '0'"
                            [class.seat-red]="seat.reserved != '0'" (click)="reserve(seat)" id="{{seat.id}}">
                            <mat-icon svgIcon="seat-icon"></mat-icon>
                        </a>
                        <div> {{ seat.seat_num }}</div>

                    </div>
                    <div class="col-4"></div>
                    }

                    @if(($index+2)% 4== 0 ){
                    <div class="col-2 img_location">
                        <a routerLink="/book-trip/{{tripId}}/{{typeId}}" [class.not-clickable]="seat.reserved != '0'"
                            [class.seat-red]="seat.reserved != '0'" (click)="reserve(seat)" id="{{seat.id}}">
                            <mat-icon svgIcon="seat-icon"></mat-icon>
                        </a>
                        <div> {{ seat.seat_num }}</div>
                    </div>
                    }
                    @if(($index+1)% 4== 0 ){
                    <div class="col-2 img_location">
                        <a routerLink="/book-trip/{{tripId}}/{{typeId}}" [class.not-clickable]="seat.reserved != '0'"
                            [class.seat-red]="seat.reserved != '0'" (click)="reserve(seat)" id="{{seat.id}}">
                            <mat-icon svgIcon="seat-icon"></mat-icon>
                        </a>
                        <div> {{ seat.seat_num }}</div>
                    </div>
                    }

                    }
                </div>

                }@else{
                <div class="row">
                    @for(seat of seats ;track $index ){
                    @if(($index+1)% 2== 0 ){
                    <div class="col-2 img_location">
                        <div class="">
                            <a routerLink="/book-trip/{{tripId}}/{{typeId}}"
                                [class.not-clickable]="seat.reserved != '0'" [class.seat-red]="seat.reserved != '0'"
                                (click)="reserve(seat)" id="{{seat.id}}">
                                <mat-icon svgIcon="seat-icon"></mat-icon>
                            </a>
                        </div>
                        <div>
                            {{ seat.seat_num }}
                        </div>
                    </div>
                    }
                    @if(($index+1)% 2 != 0 ){
                    <div class="col-2 img_location">
                        <a routerLink="/book-trip/{{tripId}}/{{typeId}}" [class.not-clickable]="seat.reserved != '0'"
                            [class.seat-red]="seat.reserved != '0'" (click)="reserve(seat)" id="{{seat.id}}">
                            <mat-icon svgIcon="seat-icon"></mat-icon>
                        </a>
                        <div> {{ seat.seat_num }}</div>

                    </div>
                    <div class="col-8"></div>
                    }

                    }
                </div>
                }

                <!-- <button  class="btn btn-dark" matStepperNext>Show Selected seats</button> -->
                <div class="btn-edit">
                    <button matStepperNext class="btn btn-dark" (click)="calculateTotalPrice()  ">Next</button>
                </div>

            </ng-template>

        </mat-step>
        <!-- ============================================================ -->
        <mat-step>
            <ng-template matStepLabel>My trip</ng-template>
            <ng-template matStepContent>
                <div class=" row second-container">

                    <div class="col-7">
                        <i class="bi bi-circle text-primary "></i>
                        <span class="text-capitalize">
                            {{ details?.from_location}}
                        </span>
                    </div>
                    <div class="col-5 text-end">
                        {{details?.time|timeFormat}}
                    </div>

                    <div class="col-12">
                        <i class="bi bi-stopwatch text-success"></i>
                        <span>
                            Seats are reserved for a minute
                        </span>
                    </div>


                    <div class="col-12">
                        <i class="bi bi-geo-alt text-primary"></i>
                        <span>
                            {{details?.to_location}}
                        </span>
                    </div>


                    <div class="col-7">
                        Departure date:

                    </div>
                    <div class="col-5 text-end">
                        {{details?.date|customDate}}
                    </div>


                    @for(select of selected ;track $index){
                    <div class="col-9">seat number {{select.seat_num}}</div>
                    <div class="col-3 text-end">{{details?.type}}</div>
                    }

                    <div class="col-9 font-edit">Price</div>
                    <div class="col-3 text-end font-edit">{{totalPrice}} LE</div>



                </div>

                <button class="btn btn-dark mt-4" matStepperNext>Next</button>
            </ng-template>
        </mat-step>
        <!-- ================================================= -->
        <mat-step>

            <ng-template matStepLabel>Payment methods</ng-template>
            <div>
                @if (totalPrice>0) {
                <app-payment [totalPrice]="totalPrice"> </app-payment>
                <div class="cancle_btn">
                    <button class="btn btn-danger " (click)="cancle()">Cancle</button>
                </div>
                }
            </div>


        </mat-step>


    </mat-stepper>

</div>
}@else {
<div class="m-auto spinner_edit">
    <mat-spinner></mat-spinner>
</div>
}

















<!-- footer -->
<app-footer></app-footer>