.firstblur {
  position: absolute;
  width: 20vw;
  height: 20vw;
  min-width: 250px;
  top: 60px;
  left: 5vw;
  border: 764px;
  background: rgb(35, 78, 141);
  opacity: .3;
  filter: blur(75px);
  /* z-index: -1; */
}
.secondblur {
  position: absolute;
  width: 20vw;
  height: 20vw;
  min-width: 250px;
  top: 60px;
  right: 5vw;
  border: 764px;
  background: rgb(35, 78, 141);
  opacity: .3;
  filter: blur(75px);
  /* z-index: -1; */
}

.cancle_btn {
  margin-top: -150px;
  text-align: center;
}

i {
  padding: 0;
  margin: 0;
}

.seat-gray1 {
  color: gray;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.bus-edit {
  width: 10rem;
}
/* img size */
.mat-icon {
  height: 35px !important;
  width: 35px !important;
  overflow: visible;
}
.details-container {
  z-index: 1;
  position: relative;
  overflow: hidden;
  /* ////////////////////////////// */
  /* border-radius: 10px; */
  /* border-style: solid; */
  width: 100%;
  /* background: var(--linearPrimaryAccent); */
  background: var(--background);
  padding: 10px 0;
  /* margin-top: 30px; */
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.text-bg1 {
  background: var(--secondary);
  font-size: 20px;
  margin-left: 5px!important;
  margin-right: 5px!important;
}
.size {
  height: 25px !important;
  width: 25px !important;
}

/* seats css srart*/
a {
  text-decoration: none !important;
  color: gray;

}

.not-clickable {
  pointer-events: none;
}

.seat-blue {
  color: blue;
  
}
.seat-red {
  color: red;
}

.seat-gray {
  color: gray;

}
.seats-1 {
  width: 500px;
  border-style: solid;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.seats-11 {
  width: 250px;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
}
.seat_num{
  color: var( --background);
  font-weight: 500;
}
/* seats css end*/
.img-size {
  width: 20px;
}

.font-edit {
  font-size: 20px;
  font-weight: bolder;
}
/* 3 seats */
.seat2Of3,.seat3Of3{
margin-top: 30px;
margin-left: 30px;
}
.seat1Of3{
  margin-top: 150px;
  margin-left: 30px;
}
.seats_3 {

  padding-top: 20px;
  padding-bottom: 30px;
}
/* .container1 { */
  /* z-index: 1;
  position: relative;
  overflow: hidden; */



  /* z-index: 1; */
/* } */

.img_location {
  margin: 0;
  padding: 0;
}

.btn-edit {

  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  margin-bottom: 10px;
}

.spinner_edit {
  height: 300px;
  width: 200px;
  text-align: center;
  padding-top: 100px;

}


@media only screen and (max-width: 1150px) {
  .slider_edit{
    padding-top: 60px;
  }
  .seat2Of3,.seat3Of3,.seat1Of3{

    margin-left: 0px;
    }
    .cancle_btn{
      margin-top: 0px;
    }
}

@media only screen and (max-width:960px) {

.hide{
  display: none;
}
.slider_edit{
display: none;
}
}



@media only screen and (max-width: 576px) {
  .seats_3 {
    padding-top: 0px;
    padding-bottom: 0px;
    
    padding-left: 31%;
}
.seat2Of3,.seat3Of3,.seat1Of3{
  margin-top: 0px;
  margin-bottom: 5px;

}
.hide1{
  display: none;
}

}