@media only screen and (max-width: 700px) {
  .details-container {
    width: 100% !important;
    margin-top: 0px !important;
  }
  .details-container1 {
    padding-top: 0px;
  }
  .seats_3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .seats-1 {
    width: 100% !important;
padding-left: 10px;
padding-right: 10px;
margin-bottom: 20px!important;
  }
  .btn-edit{

    padding-left: 0px!important;
  }
}

i {
  padding: 0;
  margin: 0;
}

.seat-gray1 {
  color: gray;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.bus-edit {
  width: 10rem;
}
.mat-icon {
  height: 50px !important;
  width: 50px !important;
  overflow: visible;
}
.details-container {
  border-radius: 10px;
  border-style: solid;
  width: 700px;
  background: var(--linearPrimaryAccent);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.text-bg1 {
  background: var(--secondary);
}
.size {
  height: 25px !important;
  width: 25px !important;
}

/* seats css srart*/
a {
  text-decoration: none !important;
  color: gray;
}

.not-clickable {
  pointer-events: none;
}

.seat-blue {
  color: blue;
}
.seat-red {
  color: red;
}

.seat-gray {
  color: gray;
}
.seats-1 {
  width: 55%;
  border-style: solid;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* seats css end*/
.img-size {
  width: 20px;
}
.second-container {
  width: 100%;
}
.font-edit {
  font-size: 20px;
  font-weight: bolder;
}
/* 3 seats */
.seats_3 {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.container1 {
  margin-top: 20px;
}

.img_location{
margin: 0;
  padding: 0;
}

.btn-edit{

  padding-left: 270px;
}


.spinner_edit{
  height: 300px; 
  width: 200px;
   text-align: center;
    padding-top: 100px;
    /* margin-bottom: 100px; */

}

.cancle_btn{
  margin-top: -150px;
  text-align: center; 
}









