<div class="why">
    <div class="container pt-5 pb-5">
      <section class="mt-5">
        <h1 class="text-center">Why BusHub ?</h1>
        <div class="row mt-5">
          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <!-- <img src="../../assets/flight-ticket.png" class="w-75 m-auto" /> -->
            <img src="../../../assets/city bus-cuate.png" class="w-75 m-auto" />
          </div>
          <div class="col-md-6">
            <ul>
              <li>Convenience and Accessibility</li>
              <p class="text-white-50 ms-3">
                As a Website, BusHub is an easy-to-use website with a beautiful
                and suitable interface for the user, enabling him to navigate
                between pages without complicating searching or complicating
                access to trips
              </p>
              <li>Getting Real Comfort</li>
              <p class="text-white-50 ms-3">
                As a Service, BusHub buses contain comfortable seats for
                passengers, and the bus is full of fun and competitions for
                passengers, which is unusual for many buses.
              </p>
              <li>Commitment to Quality and Reliability</li>
              <p class="text-white-50 ms-3">
                Entails ensuring accurate information, secure transactions,
                responsive customer support, transparent policies, and continuous
                improvement. It means providing users with trustworthy services,
                safeguarding their data, addressing their needs promptly, and
                consistently enhancing the user experience.
              </p>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
  