/* * {

    --text: #00070a;
    --background: #ebf8ff;
    --primary: #1496fa;
    --secondary: #6e73fc;
    --accent: #6f4ffc;
    --base:white;
    background-color: var(--background);
} */

#including {
    flex-grow: 1;
    position: relative;
    height: 100vh;
}

* {
    color: var(--text);
}

#separator {
    border: none;
    height: 0px;
    box-shadow: 0px 0px 50px 3px var(--primary);
}

#navbarAdmin input {
    border: none;

}


button {
    background-color: transparent;
}

.add-button {
    height: 80%;
    transition: 0.5s;


    /* background: linear-gradient(135deg, transparent,var(--background));
    background-size: 200% 200%; */
    text-shadow: 0 0 5px var(--text);
    box-shadow: inset 0px 0px 2px 0px var(--primary);

    /* box-shadow: 0 0 5px var(--text); */
}

.add-button:hover {
    background-color: var(--primary)
}

#navbarAdmin {
    border-bottom: 0;
    /* box-shadow: 0 0 0.1rem 0 var(--primary); */
    /* background-color:var(--secondary); */
    /* background: linear-gradient(180deg,transparent,transparent, var(--primary)); */
    /* background-size: 400% 400%; */
    /* animation: gradient 5s ease infinite; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.notificationBtn {
    display: inline;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    padding-top: 2px;
}


* {
    background: var(--background);
}

#spinnerInAdmin {
    width: 100vw;
    height: 100vh;
}

