<section class="hero">
    <video autoplay loop muted preload="auto" class="hero-video">
        <!-- <video autoplay loop muted preload="auto" class="hero-video" poster="road-pic.jpg"> -->
        <!-- <source src="https://videos.pexels.com/video-files/5649206/5649206-uhd_3840_2160_25fps.mp4"> -->
        <source src="https://videos.pexels.com/video-files/3987771/3987771-hd_1920_1080_24fps.mp4">
        <!-- <source src="../../assets/bus-travelling-vid.mp4" type="mp4"> -->
    </video>
    <div class="hero-text position-absolute text-white mt-3">
        <p class="m-0">Hey Traveller, BusHup is here to get</p>
        <h1 class="text-capitalize">The perfect trip for you</h1>
    </div>
    <app-search></app-search>
</section>