
.card {

    margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
    transition: transform .5s;


}

.card:hover {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    transform: scale(1.3);
    animation-name:marg;
    animation-duration: 0.5s;

}

@keyframes marg {
    0% {
        margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    }

    100% {
        margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    }
}
.cardCollapse {
    width: 20%;
    height: 30vh;
    animation-name: Collapse;
    animation-duration: 1s;
}

.cardExpand {
    width: 80vw;
    height: 80vh;
    animation-name: Expand;
    animation-duration: 1s;
}

@keyframes Expand {
    0% {
        width: 20%;
        height: 30vh;
    }

    100% {
        width: 80vw;
        height: 80vh;
    }
}

@keyframes Collapse {
    0% {
        width: 80vw;
        height: 80vh;
    }

    100% {
        width: 20%;
        height: 30vh;
    }

}



.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}




/* .modal-content,
.modal-content label ,.btn-close{ */

    /* background: linear-gradient(135deg,transparent,var(--bac),var(--background) );
        background-size: 300% 300%;
    
        animation: gradient 5s ease infinite;  */
    /* color: var(--text) !important; */
/* } */


.modal-content {
    background-color: var(--background);
}

.modal-content input,
.modal-content label,
.modal-content textarea,.modal-content input:focus,.modal-content label:after,select,select:focus,option:focus,option,option:before,option:after  {
    background-color: transparent !important;
}
.modal-content input,.modal-content input:focus,textarea,textarea:focus,select,select:focus,option:focus,option
{
    border:none;
    border-bottom: solid 1px;
    box-shadow: none;
    border-radius: 0px;
}




.add-button
    {
    
    transition: 0.5s;
    /* background: linear-gradient(135deg, transparent,var(--background));
    background-size: 200% 200%; */
    text-shadow: 0 0 5px var(--text);
    box-shadow: inset 0px 0px 2px 0px var(--primary);
    color: var(--primary)
    /* box-shadow: 0 0 5px var(--text); */
    
}
.add-button:hover
{
    background-color:var(--primary);
    color: var(--text)

}


.iconshape1 {
    text-align: center;
    font-weight: 700;
    color: white;
  }
  
  /* type iner div */
  .iconshape2 {
    border-radius: 10px 0 10px 0;
  }


  .seat-red {
    color: red;
  }
  
  .seat-gray {
    color: gray;
  }
  
.seat-blue {
    color: blue;
  }
