<div class=" img-container container-fluid  font grid-container">
    <div class="pt-5 gird-text">
        <p class="sorry-edit ">SORRY</p>
        <div class="text-edit1">we couldn't find that page</div>
        <div class="text-edit2">Go to <a routerLink="/">BUSHUB's home page </a></div>
    </div>
    <div class="text-center py-4 gird-img ">
        <img src="../../../assets/img/error-4040.png" class=" img-edit ">
    </div>
</div>
<app-footer></app-footer>

<!-- <div class="container-fluid img-container">
    <div class="row justify-content-center align-items-center h-100 font">
        <div class="col-8 pt-md-5 text-md-start">
            <p class="sorry-edit">SORRY</p>
            <div class="text-edit1">We couldn't find that page</div>
            <div class="text-edit2">Go to <a routerLink="/">BUSHUB's home page</a></div>
        </div>
        <div class="col-4 text-center py-md-4">
            <img src="../../../assets/img/error-4040.png" class="img-edit" alt="404 Error Image">
        </div>
    </div>
</div> -->