<!-- navbar -->
<app-navbar></app-navbar>
<div class="container">
<mat-tab-group>
    <!-- Economy -->
    <mat-tab label="Economy"> Content 1 </mat-tab>
    <!--  Classic-->
    <mat-tab label="Classic"> Content 2 </mat-tab>
    <!-- First business -->
    <mat-tab label="First business"> Content 3 </mat-tab>
    <!--  Royal star-->
    <mat-tab label="Royal star">
        <div class="bg-secondary row container-width">
            <!-- seat -->
            <div class="col-2  ">
                <img class="img-fluid" src="../../../assets/img/seat.png">
            <div class="font">Luxurious and more spacious seats</div>
            </div>
        
            <!-- toilet -->
            <div class="col-2  ">
                <img class="img-fluid" src="../../../assets/img/toilet.png">
                <div class="font">toilet</div>
            </div>
        
            <!-- snack -->
            <div class="col-2 ">
                <img class="img-fluid" src="../../../assets/img/snack.png">
                <div class="font">Snacks and drinks</div>
            </div>
            <!-- tv -->
            <div class="col-2 ">
                <img class="img-fluid" src="../../../assets/img/tv.png">
                <div class="font">Individual screen in seat </div>
            </div>
            <!-- air-conditioner -->
            <div class="col-2 ">
                <img class="img-fluid" src="../../../assets/img/air-conditioner.png">
                <div class="font">Air Conditioner</div>
            </div>
            <!-- charger -->
            <div class="col-2 ">
                <img class="img-fluid" src="../../../assets/img/charger.png">
                <div class="font">USB Charging Portal</div>
            </div>


        </div>
        
        
        </mat-tab>
    <!-- vip -->
    <mat-tab label="vip" > 
<div class="bg-secondary row container-width">
    <!-- seat -->
    <div class="col-2  ">
        <img class="img-fluid" src="../../../assets/img/seat.png">
    <div class="font">Luxurious and more spacious seats</div>
    </div>

    <!-- toilet -->
    <div class="col-2  ">
        <img class="img-fluid" src="../../../assets/img/toilet.png">
        <div class="font">toilet</div>
    </div>

    <!-- wifi -->
    <div class="col-2 ">
        <img class="img-fluid" src="../../../assets/img/wifi.png">
        <div class="font">Unlimited WiFi</div>
    </div>
    <!-- snack -->
    <div class="col-2 ">
        <img class="img-fluid" src="../../../assets/img/snack.png">
        <div class="font">Snacks and drinks</div>
    </div>
    <!-- tv -->
    <div class="col-2 ">
        <img class="img-fluid" src="../../../assets/img/tv.png">
        <div class="font">Individual screen in seat </div>
    </div>
    <!-- air-conditioner -->
    <div class="col-2 ">
        <img class="img-fluid" src="../../../assets/img/air-conditioner.png">
        <div class="font">Air Conditioner</div>
    </div>
    <!-- charger -->
    <div class="col-2 ">
        <img class="img-fluid" src="../../../assets/img/charger.png">
        <div class="font">USB Charging Portal</div>
    </div>
    <!-- Refrigerator -->
    <div class="col-2 ">
        <img class="img-fluid" src="../../../assets/img/fridge.png">
        <div class="font">Refrigerator</div>
    </div>
    <!-- gps -->
    <div class="col-2 ">
        <img class="img-fluid" src="../../../assets/img/gps.png">
        <div class="font">GPS tracking system</div>
    </div>

</div>
    </mat-tab>
</mat-tab-group>

</div>


<!-- footer -->
<app-footer></app-footer>