<!-- navbar -->
<app-navbar></app-navbar>
<div class="container">
    <mat-tab-group>
        <!-- vip --><!-- vip --><!-- vip --><!-- vip --><!-- vip --><!-- vip --><!-- vip -->
        <mat-tab label="vip">
            <div class=" row container-width">
                <!-- seat -->
                <div class="col-2  ">
                    <img class="img-fluid" src="../../../assets/img/seat1.png">
                    <div class="font">Single luxurious and more spacious seats</div>
                </div>

                <!-- toilet -->
                <div class="col-2  ">
                    <img class="img-fluid" src="../../../assets/img/toilet.png">
                    <div class="font">toilet</div>
                </div>

                <!-- wifi -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/wifi.png">
                    <div class="font">Unlimited WiFi</div>
                </div>
                <!-- snack -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/snack.png">
                    <div class="font">Snacks and drinks</div>
                </div>
                <!-- tv -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/tv.png">
                    <div class="font">Individual screen in seat </div>
                </div>
                <!-- air-conditioner -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/air-conditioner.png">
                    <div class="font">Air Conditioner</div>
                </div>
                <!-- charger -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/charger.png">
                    <div class="font">USB Charging Portal</div>
                </div>
                <!-- Refrigerator -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/fridge.png">
                    <div class="font">Refrigerator</div>
                </div>
                <!-- gps -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/gps.png">
                    <div class="font">GPS tracking system</div>
                </div>
                <!-- direction -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/direction.png">
                    <div class="font">Direct trips</div>
                </div>

            </div>
        </mat-tab>

        <!--  Royal star--><!--  Royal star--><!--  Royal star--><!--  Royal star-->
        <mat-tab label="Royal star">
            <div class=" row container-width">
                <!-- seat -->
                <div class="col-2  ">
                    <img class="img-fluid" src="../../../assets/img/seat4.png">
                    <div class="font">Single and comfy wide leather seats</div>
                </div>

                <!-- toilet -->
                <div class="col-2  ">
                    <img class="img-fluid" src="../../../assets/img/toilet.png">
                    <div class="font">toilet</div>
                </div>

                <!-- wifi -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/wifi.png">
                    <div class="font">Unlimited WiFi</div>
                </div>
                <!-- snack -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/snack.png">
                    <div class="font">Snacks and drinks</div>
                </div>
                <!-- tv -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/tv.png">
                    <div class="font">Individual screen in seat </div>
                </div>
                <!-- air-conditioner -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/air-conditioner.png">
                    <div class="font">Air Conditioner</div>
                </div>

                <!-- Refrigerator -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/fridge.png">
                    <div class="font">Refrigerator</div>
                </div>
                <!-- gps -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/gps.png">
                    <div class="font">GPS tracking system</div>
                </div>
                <!-- direction -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/direction.png">
                    <div class="font">Direct trips</div>
                </div>
            </div>


        </mat-tab>

        <!-- First business --><!-- First business --><!-- First business --><!-- First business -->
        <mat-tab label="First business">
            <div class=" row container-width">
                <!-- seat -->
                <div class="col-2  ">
                    <img class="img-fluid" src="../../../assets/img/seat2.png">
                    <div class="font">Single seat</div>
                </div>

                <!-- toilet -->
                <div class="col-2  ">
                    <img class="img-fluid" src="../../../assets/img/toilet.png">
                    <div class="font">toilet</div>
                </div>

                <!-- snack -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/snack.png">
                    <div class="font">Snacks and drinks</div>
                </div>
                <!-- tv -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/tv.png">
                    <div class="font">Individual screen in seat </div>
                </div>
                <!-- air-conditioner -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/air-conditioner.png">
                    <div class="font">Air Conditioner</div>
                </div>

                <!-- gps -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/gps.png">
                    <div class="font">GPS tracking system</div>
                </div>
                <!-- direction -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/direction.png">
                    <div class="font">Direct trips</div>
                </div>
            </div>

        </mat-tab>

        <!--  Classic--><!--  Classic--><!--  Classic--><!--  Classic--><!--  Classic-->
        <mat-tab label="Classic">
            <div class=" row container-width">
                <!-- seat -->
                <div class="col-2  ">
                    <img class="img-fluid" src="../../../assets/img/seat3.png">
                    <div class="font">Standard seats</div>
                </div>

                <!-- toilet -->
                <div class="col-2  ">
                    <img class="img-fluid" src="../../../assets/img/toilet.png">
                    <div class="font">toilet</div>
                </div>


                <!-- tv -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/tv.png">
                    <div class="font">Shared screen</div>
                </div>
                <!-- air-conditioner -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/air-conditioner.png">
                    <div class="font">Air Conditioner</div>
                </div>

                <!-- gps -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/gps.png">
                    <div class="font">GPS tracking system</div>
                </div>
                <!-- direction -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/direction.png">
                    <div class="font">Direct trips</div>
                </div>
            </div>



        </mat-tab>

        <!-- Economy --><!-- Economy --><!-- Economy --><!-- Economy --><!-- Economy -->
        <mat-tab label="Economy">
            <div class=" row container-width">
                <!-- seat -->
                <div class="col-2  ">
                    <img class="img-fluid" src="../../../assets/img/seat3.png">
                    <div class="font">Standard seats.</div>
                </div>

                <!-- toilet -->
                <div class="col-2  ">
                    <img class="img-fluid" src="../../../assets/img/toilet.png">
                    <div class="font">toilet</div>
                </div>


                <!-- air-conditioner -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/air-conditioner.png">
                    <div class="font">Air Conditioner</div>
                </div>

                <!-- gps -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/gps.png">
                    <div class="font">GPS tracking system</div>
                </div>
                <!-- direction -->
                <div class="col-2 ">
                    <img class="img-fluid" src="../../../assets/img/directions.png">
                    <div class="font">Not direct trips</div>
                </div>
            </div>

        </mat-tab>

    </mat-tab-group>

</div>


<!-- footer -->
<app-footer></app-footer>