* {
    --text: #00070a;
    --background: #ebf8ff;
    --primary: #1496fa;
    --secondary: #6e73fc;
    --accent: #6f4ffc;
    --base:white;
}
.add-button
{
    color :var(--base);
    opacity: 0.8;
    background-color: var(--accent);
}
.add-button:hover
{
    transition: 0.5s;
    opacity: 1.0;
    text-shadow: 0 0 5px var(--text);
    /* background-color: var(--primary); */
}
.add-button::before
{
    transition: 20s;
    transform: scale(.9);
}

.add-button:hover::before {
    opacity: 1.0;
    transform: scale(1.1);
    /* box-shadow: 0 0 15px var(--text); */
    /* border-top-right-radius: 20px; */
    /* border-bottom-left-radius: 20px; */
}