#allofit {
    /* width: 100vw; */
    width: 250px;

    /* background-color: var(--secondary); */
    /* border-top-right-radius: 15px; */
    border-bottom-right-radius: 15px;
    background: linear-gradient(135deg,var(--background), var(--primary));
    background-size: 200% 200%;
    /* box-shadow: 0px 0px 4px var(--text); */

    animation: gradient 5s ease infinite;

}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.sidebar {

    width: 250px;
    justify-content: space-between;
    height: 100vh;

}




.sidebar a {
    /* border:solid wheat; */
    margin-left: 15px;
    text-wrap: nowrap;
    overflow-x: hidden;
    /* opacity: 0.8; */
    text-decoration: none;
    color: var(--text);
    /* padding-right: 100px; */
    height: 10vh;
    width: 70%;
    padding-top: 18px;
    padding-left: 15px;
    border-radius: 15px;

    /* transition: width 0s linear; */
}

/* a:hover {
    background-color: var(--background);

} */


.active {

    width: 100% !important;
    /* border: solid; */
    border-radius: 15px;
    color: var(--text);
    text-shadow: 0 0 5px var(--text);


    background: linear-gradient(135deg, transparent,var(--background));
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;



}

.sidebar a::before {


    border-radius: 15px;

    background: var(--accent);
    transition: 20s;
    transform: scale(.9);

}

.sidebar a:hover::before {
    border-radius: 15px;

    opacity: 1.0;
    transform: scale(1.1);

}


.sidebar a:hover {
    border-radius: 15px;

    transition: 0.5s;
    width: 100%;
    text-shadow: 0 0 5px var(--text);

    /* color: var(--base); */
    opacity: 1.0;
    background: linear-gradient(135deg, transparent,var(--background));
    background-size: 200% 200%;
    border-radius: 15px;

}






#smallSide {
    height: 100vh;
    /* width:100vw; */
}

#smallSide a {
    border-radius: 15px;
    margin-left: 12px;
    color: var(--text);
    height: 10vh;
    padding-top: 18px;
    padding-left: 20px;
    width:75%;

}

.activeI {
    border-radius: 15px;
    color: var(--text);

    text-shadow: 0 0 5px var(--text);
    /* width: 70%; */
    background: linear-gradient(135deg, transparent,var(--background));
    background-size: 200% 200%;
}


#smallSide a::before {


    transition: 20s;
    transform: scale(.9);

}

#smallSide a:hover::before {
    opacity: 1.0;
    transform: scale(1.1);

}


#smallSide a:hover {
    transition: 0.5s;
    /* width: 18vw; */
    text-shadow: 0 0 5px var(--text);

    /* color: var(--base); */
    opacity: 1.0;
    background: linear-gradient(135deg, transparent,var(--background));
    background-size: 300% 300%;
    border-radius: 15px;

}
#burger
{

    padding-left: 14px !important;
    padding-top: 10px !important;
    font-size: xx-large;
}
.hideIcons
{
    /* display:hidden; */
    visibility: hidden;
}



::-webkit-scrollbar {
    border: none;
    /* width: 20px; */
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
    /* border:none; */
    /* box-shadow: inset 0 0 5px grey;  */
    /* border-radius: 500px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    display: none;
        /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: none
}
